<?xml version="1.0" encoding="UTF-8"?>
<odoo>
    <menuitem id="menu_chocolateria_root" name="Chocolatería"/>
    <menuitem id="menu_chocolateria_gestion" name="Gestión" parent="menu_chocolateria_root"/>

    <menuitem id="menu_clientes" name="Clientes" parent="menu_chocolateria_gestion" action="action_cliente"/>
    <menuitem id="menu_productos" name="Productos" parent="menu_chocolateria_gestion" action="action_producto"/>
    <menuitem id="menu_empleados" name="Empleados" parent="menu_chocolateria_gestion" action="action_empleado"/>
    <menuitem id="menu_pedidos" name="Pedidos" parent="menu_chocolateria_gestion" action="action_pedido"/>
</odoo>