<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_papeleria_root" 
              name="Papelería" 
              sequence="10"/>

    <menuitem id="menu_papeleria_ventas"
              name="Ventas"
              parent="menu_papeleria_root"
              action="action_papeleria_venta"
              sequence="10"/>

    <menuitem id="menu_papeleria_clientes"
              name="Clientes"
              parent="menu_papeleria_root"
              action="action_cliente_papeleria"
              sequence="20"/>

    <menuitem id="menu_papeleria_proveedores"
              name="Proveedores"
              parent="menu_papeleria_root"
              action="action_proveedor_papeleria"
              sequence="30"/>

    <menuitem id="menu_papeleria_productos"
              name="Productos"
              parent="menu_papeleria_root"
              action="action_producto_papeleria"
              sequence="40"/>

</odoo>