{% extends 'djangov1/base.html' %}
{% block content %}
<h2>Menú central</h2>
<p>Selecciona una sección (se abrirá en una nueva pestaña):</p>
<ul>
  <li><a target="_blank" rel="noopener noreferrer" href="/djangov1/categorias/">Categorías</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="/djangov1/proveedores/">Proveedores</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="/djangov1/productos/">Productos</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="/djangov1/almacenes/">Almacenes</a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="/djangov1/entradas/">Entradas</a></li>
</ul>
{% endblock %}
