<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">

<title>Pedidos</title>

<style>

body{

font-family:Arial;

background:#fff8f0;

margin:40px;

}

h1{

text-align:center;

color:#8B0000;

}

table{

width:90%;

margin:auto;

border-collapse:collapse;

background:white;

}

th{

background:#8E44AD;

color:white;

padding:12px;

}

td{

padding:10px;

border-bottom:1px solid #ddd;

}

tr:hover{

background:#FDEBD0;

}

</style>

</head>

<body>

<h1>📋 Pedidos</h1>

<table>

<tr>

<th>Cliente</th>

<th>Plato</th>

<th>Cantidad</th>

<th>Fecha</th>

</tr>

{% for pedido in pedidos %}

<tr>

<td>{{pedido.cliente}}</td>

<td>{{pedido.plato}}</td>

<td>{{pedido.cantidad}}</td>

<td>{{pedido.fecha}}</td>

</tr>

{% endfor %}

</table>

</body>

</html>