<!DOCTYPE html>
<html lang="es">
<head>

<meta charset="UTF-8">

<title>Platos</title>

<style>

body{

font-family:Arial;

background:#fff8f0;

margin:40px;

}

h1{

text-align:center;

color:#8B0000;

}

table{

width:95%;

margin:auto;

border-collapse:collapse;

background:white;

}

th{

background:#E67E22;

color:white;

padding:12px;

}

td{

padding:10px;

border-bottom:1px solid #ddd;

}

tr:hover{

background:#FDEBD0;

}

</style>

</head>

<body>

<h1> Menú</h1>

<table>

<tr>

<th>Nombre</th>

<th>Descripción</th>

<th>Precio</th>

<th>Disponible</th>

<th>Categoría</th>

<th>Proveedor</th>

</tr>

{% for plato in platos %}

<tr>

<td>{{plato.nombre}}</td>

<td>{{plato.descripcion}}</td>

<td>${{plato.precio}}</td>

<td>{{plato.disponible}}</td>

<td>{{plato.categoria}}</td>

<td>{{plato.proveedor}}</td>

</tr>

{% endfor %}

</table>

</body>

</html>