<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- 1. Menú Raíz del App (Aparece en el selector de los 9 puntos) -->
        <menuitem id="menu_odoo_ute_root"
                  name="UTE"
                  web_icon="odoo_ute,static/description/icon.png"
                  sequence="10"/>

        <!-- 2. Categoría Superior (Se muestra en la barra superior al entrar a la app) -->
        <menuitem id="menu_odoo_ute_main"
                  name="Gestión Académica"
                  parent="menu_odoo_ute_root"
                  sequence="10"/>

        <!-- 3. Submenús desplegables con Acciones -->
        <menuitem id="menu_ou_carrera"
                  name="Carreras"
                  parent="menu_odoo_ute_main"
                  action="action_ou_carrera"
                  sequence="10"/>

        <menuitem id="menu_ou_aula"
                  name="Aulas"
                  parent="menu_odoo_ute_main"
                  action="action_ou_aula"
                  sequence="20"/>

        <menuitem id="menu_ou_periodo"
                  name="Periodos"
                  parent="menu_odoo_ute_main"
                  action="action_ou_periodo"
                  sequence="30"/>
    </data>
</odoo>