<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem
            id="menu_odoo_ute_root"
            name="UTE"
            groups="odoo_ute.group_ute_user"
            sequence="10"/>

    <!-- parte acdemicaa -->
    <menuitem
            id="menu_ute_academic"
            name="Académico"
            parent="menu_odoo_ute_root"
            groups="odoo_ute.group_ute_user"
            sequence="10"/>

    <menuitem
            id="menu_teacher"
            name="Docentes"
            action="odoo_ute.ou_teacher_action"
            parent="menu_ute_academic"
            groups="odoo_ute.group_ute_user"
            sequence="10"/>

    <menuitem
            id="menu_student"
            name="Estudiantes"
            action="odoo_ute.action_ou_student"
            parent="menu_ute_academic"
            groups="odoo_ute.group_ute_user"
            sequence="20"/>

    <menuitem
            id="menu_course"
            name="Cursos"
            action="odoo_ute.action_ou_course"
            parent="menu_ute_academic"
            groups="odoo_ute.group_ute_user"
            sequence="30"/>

    <menuitem
            id="menu_authority"
            name="Autoridades"
            action="odoo_ute.action_ou_authority"
            parent="menu_ute_academic"
            groups="odoo_ute.group_ute_user"
            sequence="40"/>

    <!-- para la configuracion -->
    <menuitem
            id="menu_ute_config"
            name="Configuracion"
            parent="menu_odoo_ute_root"
            groups="odoo_ute.group_ute_manager"
            sequence="90"/>

    <menuitem
            id="menu_signature"
            name="Materias"
            action="odoo_ute.action_ou_signature"
            parent="menu_ute_config"
            groups="odoo_ute.group_ute_manager"
            sequence="10"/>

    <menuitem
            id="menu_career"
            name="Carreras"
            action="odoo_ute.action_ou_career"
            parent="menu_ute_config"
            groups="odoo_ute.group_ute_manager"
            sequence="20"/>

</odoo>