{% extends 'base.html' %}

{% block contenido %}

<div style="
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70vh;
    text-align: center;
">

    <h1 style="font-size: 50px; color: #2563eb;">
        🎮 Bienvenido a la Tienda de Videojuegos UTE
    </h1>

    <p style="font-size: 24px; color: #444; max-width: 700px;">
        Sistema desarrollado en Django para la gestión de videojuegos, clientes y ventas.
    </p>

</div>

{% endblock %}est