body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #111111;
    color: white;
}

header{
    background: linear-gradient(to right, #000000, #b30000);
    color: white;
    text-align: center;
    padding: 30px;
    box-shadow: 0 4px 10px rgba(255,0,0,0.5);
}

header h1{
    margin: 0;
    font-size: 42px;
}

header p{
    margin-top: 10px;
    font-size: 18px;
    color: #dddddd;
}

nav{
    background: #1a1a1a;
    text-align: center;
    padding: 15px;
    border-bottom: 3px solid red;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin: 0 12px;
    padding: 10px 18px;
    border-radius: 8px;
    transition: 0.3s;
}

nav a:hover{
    background: #ff0000;
}

.boton-admin{
    background: #d60000;
    color: white;
    padding: 10px 18px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
}

.boton-admin:hover{
    background: #8b0000;
}

.contenido{
    width: 90%;
    max-width: 1100px;
    margin: 30px auto;
    background: #1b1b1b;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(255,0,0,0.4);
}

h2{
    color: #ff3333;
    text-align: center;
}

p{
    color: #dddddd;
    font-size: 18px;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th{
    background: #b30000;
    color: white;
    padding: 12px;
}

table td{
    padding: 12px;
    border: 1px solid #444;
    text-align: center;
    background: #222222;
}

table tr:nth-child(even) td{
    background: #2b2b2b;
}

table tr:hover td{
    background: #660000;
}

button{
    background: #d60000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

button:hover{
    background: #8b0000;
}

footer{
    background: #000000;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 30px;
    border-top: 3px solid red;
}